@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700-italic.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.main-heder {
  color: #000000;
  background-color: #F2F2F2;
}

.navigation-link{
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
}

.main-index {
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
}



.definition{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.reason{
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-list{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}

.advantages-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-one{
  background-color: #83B3D3;
  color: #FFFFFF;

}

.advantages-citi{
  background-color: #FFFFFF;
  color: #333333;
}

.advantages-housing{
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/icon/icon-house.svg");
  background-repeat: no-repeat;
}

.advantages-meal{
  background-image: url("../images/icon/icon-meal.svg");
  background-repeat: no-repeat;
}

.advantages-souvenirs{
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/icon/icon-souvenirs.svg");
  background-repeat: no-repeat;
}

.advantages-citi-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-two{
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item-three{
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages-item-four{
  background-color:rgba(131, 179, 211, 0.2);
}

.advantages-item-five{
  background-color: rgba(131, 179, 211, 0.12)
}

.search{
  text-align: center;
  text-transform: uppercase;
}

.search-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-description{
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
}

.search-navigation{
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
}

.mailing{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  background-color: black;
  text-align: center;
}

.mailing-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

mailing-description{
  font-size: 22px;
  line-height: 26px;
}

.mailing-button{
  background: #83B3D3;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF
}

.footer-contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.inner{
  background-image: url("../images/background.jpg");
  color: #000000 ;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.link-hotels{
  color:#FFFFFF
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
}

.link-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.link-filter{
  font-size: 18px;
  line-height: 23px;
}

.button-apply{
  background-color:#83B3D3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

button-cancel{
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}


